@model CompetitorListViewModel

@{
    ViewBag.Title = "Competitor Management";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Competitor Management</h2>

<div class="container">
    <div class="row">
            <a href="@Url.Action("AddCompetitor")" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                Add Competitor
            </a>
    </div>
    <div class="separator"></div>
    <div class="row">
        <div class="col-md-6 col-btn">
            <h3>@Html.DisplayNameFor(model => model.ActiveCompetitors)</h3>
            @if (Model.ActiveCompetitors.Any())
            {
                for (int i = 0; i < Model.ActiveCompetitors.Count(); i++)
                {
                    <div class="row">
                        <a href="@Url.Action("EditCompetitor", "Admin", new { competitorId = Model.ActiveCompetitors.ElementAt(i).CompetitorId })" class="btn btn-default btn-details col-xs-12">
                            <div class="row">
                                <div class="col-xs-10">
                                    @Html.DisplayFor(model => model.ActiveCompetitors.ElementAt(i).FormattedName)
                                </div>
                                <div class="col-xs-2 text-right">&raquo;</div>
                            </div>
                        </a>
                    </div>
                    <div class="separator"></div>
                }
            }
            else
            {
                <em>No active Competitors.</em>
            }
        </div>
        <div class="col-md-6 col-btn">
            <h3>@Html.DisplayNameFor(model => model.InactiveCompetitors)</h3>
            @if (Model.InactiveCompetitors.Any())
            {
                for (int i = 0; i < Model.InactiveCompetitors.Count(); i++)
                {
                    <div class="row">
                        <a href="@Url.Action("EditCompetitor", "Admin", new { competitorId = Model.InactiveCompetitors.ElementAt(i).CompetitorId })" class="btn btn-default btn-details col-xs-12">
                            <div class="row">
                                <div class="col-xs-10">
                                    @Html.DisplayFor(model => model.InactiveCompetitors.ElementAt(i).FormattedName)
                                </div>
                                <div class="col-xs-2 text-right">&raquo;</div>
                            </div>
                        </a>
                    </div>
                    <div class="separator"></div>
                }
            }
            else
            {
                <em>No inactive Competitors.</em>
            }
        </div>
        <div class="col-md-6"></div>
    </div>
</div>