@model EditEventViewModel

@{
    ViewBag.Title = $"{ViewBag.EditType} Event";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@ViewBag.EditType Event</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Event.EventId)
    <div class="form-group">
        @Html.LabelFor(model => model.Event.EventName)
        @Html.TextBoxFor(model => model.Event.EventName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Event.EventTypeId)
        @Html.DropDownListFor(model => model.Event.EventTypeId, Model.EventTypeSelectList, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Event.Description)
        @Html.TextAreaFor(model => model.Event.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Event.Specification)
        @Html.TextAreaFor(model => model.Event.Specification, new { @class = "form-control" })
    </div>
    <div class="btn-group">
        <input type="submit" name="submitButton" value="Save" class="btn btn-success" />
        @if (Model.Event.EventId > 0)
        {
            <input type="submit" name="submitButton" value="Delete" class="btn btn-danger" />
        }
        <a href="@Url.Action("EventManagement")" class="btn btn-default">Cancel</a>
    </div>
}