<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/Content/Images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Content/Images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/Content/Images/favicon/manifest.json">
    <link rel="mask-icon" href="/Content/Images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/Content/Images/favicon/favicon.ico">
    <meta name="msapplication-config" content="/Content/Images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Action("Index", "Image", new { imageName = "logo-white" })" class="navbar-brand" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Event Management", "EventManagement", "Admin")</li>
                            <li>@Html.ActionLink("Competitor Management", "CompetitorManagement", "Admin")</li>
                            <li>@Html.ActionLink("Error Log", "ErrorLog", "Admin")</li>
                        </ul>
                    </li>
                    @*<li>
                        <a href="#"><span class="glyphicon glyphicon-time"></span></a>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("ToastPartial")
    @Html.Partial("ContextMenu")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Office Olympics&trade;</p>
            <p>Office Olympics&trade; is a registered trademark brand, any unauthorized use is punishable by the full exent of the lol</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    <script src="~/SignalR/hubs"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
