@model List<RecordViewModel>

@if (Model.Any())
{
    <ul class="list-group">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li class="list-group-item">
                @*<span style="float: left;">@Html.DisplayFor(model => model[i].RecordHolder) - @Html.DisplayFor(model => model[i].Event)</span>
                <span style="float: right;">@Html.DisplayFor(model => model[i].Score, "RecordScoreTemplate")</span>*@
                @Html.DisplayFor(model => model[i].RecordHolder) - @Html.DisplayFor(model => model[i].Event):
                @Html.DisplayFor(model => model[i].Score, "RecordScoreTemplate")
            </li>
        }
    </ul>
}
else
{
    <em>No records to show.</em>
}
