@model RecordBoardViewModel

@{
    ViewBag.Title = "Index";
    int i = 0;
}

@while (i < Model.EventsWithRecords.Count)
{
    <div class="row">
        @do
        {
            <div class="col-md-4 event-panel">
                @Html.HiddenFor(model => model.EventsWithRecords[i].Event.EventId)
                <div class="text-center">
                    @Html.IconFor(model => model.EventsWithRecords[i].Event.IconFileName)
                </div>
                <h4 class="text-center">
                    @Html.DisplayFor(model => model.EventsWithRecords[i].Event.EventName)
                </h4>
                @for (int j = 0; j < Model.EventsWithRecords[i].Records.Count; j++)
                {
                    if (j > 0)
                    {
                        @:<div class="separator"></div>
                    }
                    <div class="row">
                        <div class="non-btn non-btn-default non-btn-details col-xs-12">
                            <div class="row">
                                <div class="col-xs-10">
                                    @Html.Partial("TrophyPartial", j)
                                    @Html.DisplayFor(model => model.EventsWithRecords[i].Records[j].Competitor.FullName)
                                </div>
                                <div class="col-xs-2 text-right">
                                    @Html.DisplayFor(model => model.EventsWithRecords[i].Records[j].Score, "RecordScoreTemplate")
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            i++;
        } while (i % 3 != 0 && i < Model.EventsWithRecords.Count);
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/home/index")
}