@model EventBoardViewModel

@{
    ViewBag.Title = "Event Board";
    int i = 0;
}

@while (i < Model.Events.Count)
{
    <div class="row">
        @do
        {
            <div class="col-md-4 event-panel" id="eventPanel@(Model.Events[i].EventId)">
                @Html.Partial("TopThreePartial", Model.Events[i])
            </div>
            i++;
        } while (i % 3 != 0 && i < Model.Events.Count);
    </div>
}

@section modals{
    @Html.Partial("ModalPartial", (ModalViewModel)ViewBag.NewRecordModalViewModel)
    @Html.Partial("ModalPartial", (ModalViewModel)ViewBag.EventDetailsModalViewModel)
}

@section styles{
    @Styles.Render("~/Content/home-index")
}

@section scripts{
    @Scripts.Render("~/bundles/home-index")
}