@model HomeViewModel

@{
    ViewBag.Title = "Office Olympics";
}

<div class="jumbotron">
    <h1>Office Olympics&trade;</h1>
    <p class="lead">Office Olympics&trade; is a registered trademark&trade; brand&trade;, any unauthorized use&trade; is punishable by the full exent of the lol&reg;</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.DisplayNameFor(model => model.NewEvents)</h2>
        <p>
            @Html.Partial("EventListPartial", Model.NewEvents)
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Events")">All Events &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.DisplayNameFor(model => model.NewRecords)</h2>
        <p>
            @Html.Partial("RecordListPartial", Model.NewRecords)
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Records")">All Records &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>