@model HomeViewModel

@{
    ViewBag.Title = "Office Olympics";
}

<div class="jumbotron">
    <h1>Office Olympics&trade;</h1>
    <p class="lead">Office Olympics&trade; is a registered trademark&trade; brand&trade;, any unauthorized use&trade; is punishable by the full exent of the lol&reg;</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.DisplayNameFor(model => model.NewEvents)</h2>
        <div>
            @Html.Partial("EventListPartial", Model.NewEvents)
        </div>
        <div><a class="btn btn-default" href="@Url.Action("Events")">All Events &raquo;</a></div>
    </div>
    <div class="col-md-4">
        <h2>@Html.DisplayNameFor(model => model.NewRecords)</h2>
        <div id="recentRecordListContainer">
            @Html.Partial("RecordListPartial", Model.NewRecords)
        </div>
        <div><a class="btn btn-default" href="@Url.Action("Records")">All Records &raquo;</a></div>
    </div>
    <div class="col-md-4">
        <h2>Something else</h2>
        <p>I haven't decided what I will put here but I can probably find something else</p>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/home")
}