@model EventBoardEventViewModel

@Html.HiddenFor(model => model.EventId)
@Html.HiddenFor(model => model.EventTypeId)
@Html.HiddenFor(model => model.Description)
@Html.HiddenFor(model => model.Specification)
<div class="text-center">
    @Html.IconFor(model => model.IconFileName)
</div>
<h4 class="text-center event-panel-name">
    @Html.DisplayFor(model => model.EventName)
</h4>
@for (int i = 0; i < Model.Records.Count; i++)
{
    if (i > 0)
    {
        @:<div class="separator"></div>
    }
    <div class="row">
        <div class="non-btn non-btn-default non-btn-details col-xs-12">
            <div class="row">
                <div class="col-xs-10">
                    @Html.Partial("TrophyPartial", i)
                    @Html.DisplayFor(model => model.Records[i].Competitor.FullName)
                </div>
                <div class="col-xs-2 text-right">
                    @Html.DisplayFor(model => model.Records[i].Score, "RecordScoreTemplate")
                </div>
            </div>
        </div>
    </div>
}